@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div id="app"/></div>
    <div class="row">
        <div class="col">
            <span style="font-size: 3em; color: Tomato;">
                <i class="fas fa-filter"></i>
            </span>
            <span style="font-size: 48px; color: Dodgerblue;">
                <i class="fa fa-camera"></i>
            </span>
            <span style="font-size: 3rem;">
                <span style="color: Mediumslateblue;">
                    <i class="fa fa-camera"></i>
                </span>
            </span>

        </div>
    </div>
    <hr>
</div> <!-- /container -->

@section scripts
{
    <script src="~/Scripts/views/dist/home.index.min.js"></script>
}
